

.App-header {
  background-color: #282c34;
  display: flex;
  height: 220px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.inputContainer {
  background-color: #8bcb19;
  width: 100%;
  display: flex;
    /*flex-wrap:wrap;*/
  padding-top: 50px;
  padding-bottom: 50px;
  /*flex-direction: column;*/
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.h1 {
  color: brown;
  font-size: 1.5em;
}

.inputArea {
  display: block;
  width: 600px;
  height: 40px;
  padding: 10px 35px 10px 35px;
  font-size: 1.3em;
  outline: none;
  border: 0;
  border-radius: 35px;
}


.submit {
  display: block;
  height: 60px;
  width: 100px;
  font-size: 16px;
  border-radius: 35px;
  border: 0;
  padding: 20px 15px 20px 15px;
  margin-left: 20px;
  transition-duration: 1s;
}

.submit:hover {
  background-color: #3a3f4b;
  color: #8bcb19 ;
}

.checkbox {
 display: none;
}

.checkbox-custom {
  position: relative;
  width: 60px;
  height: 60px;
  border: 2px solid #ccc;
  border-radius: 30px;
  margin-right: 20px;
}

.checkbox-custom,
.label {
  display: inline-block;
  vertical-align: middle;
}

.checkbox:checked + .checkbox-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background: #3a3f4b;
  border-radius: 30px;
}