
.mainLoginBlock {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  display: block;
  width: 300px;
  /*height: 400px;*/
  justify-content: center;
  align-items: center;
  background-color: #8bcb19;

}
.regLogin {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 17px;
  width: 260px;
  outline: none;
}
 .regPass {
   display: block;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 17px;
   width: 260px;
   outline: none;
 }

.regConfirmPass {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 17px;
  width: 260px;
  outline: none;
}


.submitButton {
  display: block;
  margin: 20px;
}

